.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  color: #b9475c !important;
  font-weight: 600;
  font-size: 36px;
}

label:hover {
  background-color: #eee0b7;
}

#map {
  height: 70vh;
  width: 100%;
}

/* #search {
  height: 100%;
} */

#find {
  margin-left: 10px;
}

#search-btn {
  background-color: #09ab9c;
}

#search-btn:hover {
  background-color: #b9475c;
}

#search-results {
  max-height: 35vh;
  overflow-y: scroll;
  margin-left: 10px;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b9475c;
  gap: 14px;
}

.footer-subtitle {
  font-weight: 600;
}

footer p {
  font-size: 12px;
  font-weight: 100;
  color: whitesmoke;
  text-align: center;
}

.row1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}

.socials {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }

  footer {
    /* height: auto; */
    gap: 36px;
  }

  footer p {
    text-align: left;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
  }

  .about,
  .quicklinks,
  .contact {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .about {
    flex-basis: 200px;
    max-width: 400px;
  }
}
