body {
  padding: 0;
  margin: 0;
}

#map {
  height: 500px;
  /* width: 70%;
   */
  flex-grow: 4;
}

main {
  display: flex;
}

/* #places {
  flex-grow: 1;
} */

#search {
  flex-grow: 1;
}

body {
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  gap: 14px;
}

.footer-subtitle {
  font-weight: 600;
}

footer p {
  font-size: 12px;
  font-weight: 100;
  color: black;
  text-align: center;
}

.row1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer a {
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  footer {
    height: 280px;
    gap: 36px;
  }

  footer p {
    text-align: left;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
  }

  .about,
  .quicklinks,
  .contact {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .about {
    flex-basis: 200px;
    max-width: 400px;
  }
}
